<div data-jc-scope="?" class="hidden" data-jc-class="hidden">

    <div data-jc="visible" data-jc-path="response" data-jc-config="if:value && value.success === true" class="hidden">
        <div class="message-success"><span class="fa fa-check-circle"></span>Article has been saved successfully.</div>
        <br />
    </div>

    <div data-jc="visible" data-jc-path="response" data-jc-config="if:!value || !value.success">
        <div class="row">
            <div class="col-md-6 m">
                <div data-jc="textbox" data-jc-path="title" data-jc-value="''" data-jc-config="required:true">Title</div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 m">
                <div data-jc="textarea" data-jc-path="text" data-jc-value="''" data-jc-config="height:100;required:true">Text</div>
            </div>
        </div>
        <div data-jc="error" data-jc-path="response"></div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div data-jc="validation" data-jc-path="?">
                    <button class="button exec" name="submit" disabled="disabled" data-exec="articleformsubmit">SAVE ARTICLE</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    !window.articleformsubmit && (window.articleformsubmit = function(el) {
        var component = el.closest('[data-jc-path]').component();
        var scope = component.pathscope;
        if (CAN(scope + '.*')) {
            RESET(scope + '.*');
            AJAX('POST /api/articles/', GET(scope), scope + '.response');
        }
    });
</script>