@{title('Blog CMS system')}

<h1>@{title}</h1>
@{model.index = 0}
@{foreach item in model.data.items}
    @{if model.index === 0}
        <div class="row">
    @{fi}

    <div class="col-md-4 col-sm-4 m">

        @{model.imgsrc = '/img/002.jpg'}
        @{model.href = '/article/' + item.id}
        <a href=@{model.href}>
            <img src=@{model.imgsrc} border="0" alt="Eshop" class="img-responsive img-rounded" />
            <script>document.write(convertTimestamp(@{item.timestamp}))</script>
            <h3>@{item.title}</h3>
        </a>
    </div>

    @{model.index = model.index + 1}
    @{if model.index > 2}
        </div>
        @{model.index = 0}
    @{fi}

@{end}

<br />